body{
        padding-top: 75px;
}

.media-body{
        padding-left: 10px;
}

#location_info{
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
}

.m-child{
        pointer-events: none;
}
