
{% extends 'layout.html.j2' %}
  
{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('core/profile.css') }}">
<script src="https://use.fontawesome.com/944a8f6eea.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Arvo|Lato" rel="stylesheet">
{% endblock %}

{% block body %}
<nav class="navbar navbar-dark bg-dark navbar-expand-sm fixed-top" id="new-dark">
    <a class="navbar-brand" id="brandname" href="/"><i class="fa fa-asterisk" aria-hidden="true"></i>Flare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/me">My Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create_event">Create Event</span></a>
            </li>
        </ul>
    </div>
</nav>

        <!-- Intercepting jinja2 stuff for js use -->
        <script>
                var fbid = {{event.host.fbid}};
        </script>
        <main role="main" class="container">
                <div class="row profile_info">
                        <div class="col-4 col-sm-3 col-md-2 col-lg-2 col-xl-2">
                                <img class="profile_image" src="{{'http://graph.facebook.com/' + event.host.fbid + '/picture?type=normal'}}" width="100%"/>
                        </div>
                        <div class="col-8 col-sm-9 col-md-10 col-lg-10 col-xl-10">
                                <h3 class="username">
                                        {{event.host.first_name}}
                                </h3>
                                <p id="post_time">
                                </p>
                                <h6 class="user_description">
                                        {{event.host.bio}}
                                </h6>

                        </div>
                </div>
                <div class="row event_info">
                        <div id="address" class="col col-sm col-md-5 col-lg-9 col-xl-6">
                                📍 close to {{event.location_name}}
                        </div>
                        <div class="col col-sm col-md col-lg-3 col-xl-6 text-right">
                                🕒 {{event.start_time.strftime("%y/%m/%d %H:%M") + " - " + event.end_time.strftime("%H:%M")}}
                        </div>
                </div>
                <div class="row event_description">
                        <p class="col col-sm">
                                {{event.description}}
                        </p>
                </div>
                <div class="row" id="map"></div>
                <div class="connect_bar">
                        <button type="button" class="btn btn-primary button_connect">Connect on Facebook</button>
                </div>
        </main>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="{{static('core/details_scripts.js')}}"></script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCECGPK1S7gGkDq-hzbQOXIanEu6kxk738&callback=initMap"></script>
{% endblock %}
