{% extends 'layout.html.j2' %}

{% block body %}
  <h2>Homepage</h2>
  <p>Hello {{ user.username }}!</p>
  <p>Hello {{ backends.associated.first().uid }}!</p>
  <p>{{ url('profile-detail', args=[user.profile.id])}}</p>
{% endblock %}
