<!DOCTYPE html>
<html>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Flare | Post</title>
</head>
<body>
	<container>
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">
				<button type="button" class="btn btn-dark btn-sm">Cancel</button>
			</a>
		</nav>
		<form class="container">
			<div class="form-row">
				<div class="col align-self-start"></div>
				<div class="form-group col- col-sm-6 col-md-6 col-lg-6 align-self-center" style="padding-top: 15px">
					<label for="locationInfo">Location</label>
					<input type="text" class="form-control">
				</div>
				<div class="col align-self-end"></div>
			</div>
			<div class="form-row">
				<div class="col align-self-start"></div>
				<div class="form-group col- col-sm-3 col-md-3 col-lg-3 align-self-center">
					<label for="startTime">Start Date/Time</label>
					<input type="date" class="form-control">
					<input type="time" class="form-control">
				</div>
				<div class="form-group col- col-sm-3 col-md-3 col-lg-3">
					<label for="endTime">End Date/Time</label>
					<input type="date" class="form-control">
					<input type="time" class="form-control">
				</div>
				<div class="col align-self-end"></div>
			</div>
			<div class="form-row">
				<div class="col align-self-start"></div>
				<div class="form-group col- col-sm-6 col-md-6 col-lg-6 align-self-center">
					<label for="postContent">Description</label>
					<textarea class="form-control span6" rows="3"></textarea>
				</div>
				<div class="col align-self-end"></div>
			</div>
			<button type="submit" class="btn btn-dark btn-lg" data-toggle="button" aria-pressed="false" autocomplete="off">Post</button>
		</form>
	</container>
	<!-- Bootstrap -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>