*{
	padding: 0;
	margin: 0;
}

.content{
	width: 100%;
	padding: 5%;
	padding-top: 5em
}
#bio{
	margin-top: 5%;
	margin-bottom: 2%;
	text-align:justify;
}

#info{
	padding-top: 15%;
	padding-bottom: 5%;
}