{% extends 'layout.html.j2' %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{ static('core/bootstrap-social.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h2>Login</h2>
            <a class="btn btn-block btn-social btn-facebook" href="{{ url('social:begin', args=['facebook']) }}">
            <span class="fa fa-facebook"></span> Sign in with Facebook
            </a>
        </div>
    </div>
</div>
{% endblock %}
